:root{
    --transition-value: all 1s ;
}

.slideUpAnimDefault{
    transform: translateY(+100%);
    transition: var(--transition-value);
}

.slideUpHalfAnimDefault{
    transform: translateY(+50%);
    transition: var(--transition-value);
}

.slideUpAnim{
    transform: translateY(0);
}

.zoomInAnimDefault{
    transform: scale(0);
    opacity: 0;
    transition: var(--transition-value);
}
.zoomInAnim{
    transform: scale(1);
    opacity: 1;
}

.slideInLeftAnimDefault{
    transform: translateX(-100%);
    transition: var(--transition-value);
    transition-delay: 0.2s;
}
.slideInLeftAnim{
    transform: translateX(0);
}

.slideInRightAnimDefault{
    transform: translateX(+100%);
    transition: var(--transition-value);
    transition-delay: 0.2s;
}
.slideInRightAnim{
    transform: translateX(0);
}

.slowZoomInAnimation{
    animation: zoomInElement 10s linear;
}
@keyframes zoomInElement {
    0%{
        scale: 0.9;
    }
    100%{
        scale: 1;
    }
}

/* Shooting star animation  */
@keyframes shootingStar {
    0%{
        transform: rotate(315deg) translateX(1000px);
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

/* About us images movement animation */
@keyframes aboutUsAnimation1 {
    0%{
        transform: translateX(0) translateY(0) scale(1);
    }
    5%{
        transform: translateX(70%) translateY(40%) scale(0.3);
    }

    31%{
        transform: translateX(70%) translateY(40%) scale(0.3);
    }
    36%{
        transform: translateX(70%) translateY(-40%) scale(0.3);
    }

    62%{
        transform: translateX(70%) translateY(-40%) scale(0.3);
    }
    67%{
        transform: translateX(0) translateY(0) scale(1);
    }

    93%{
        transform: translateX(0) translateY(0) scale(1);
    }
    100%{
        transform: translateX(0) translateY(0) scale(1);
    }
}


@keyframes aboutUsAnimation2 {
    0%{
        transform: translateX(70%) translateY(40%) scale(0.3);
    }
    5%{
        transform: translateX(70%) translateY(-40%) scale(0.3);
    }

    31%{
        transform: translateX(70%) translateY(-40%) scale(0.3);
    }
    36%{
        transform: translateX(0) translateY(0) scale(1);
    }

    62%{
        transform: translateX(0) translateY(0) scale(1);
    }
    67%{
        transform: translateX(70%) translateY(40%) scale(0.3);
    }

    93%{
        transform: translateX(70%) translateY(40%) scale(0.3);
    }
    100%{
        transform: translateX(70%) translateY(40%) scale(0.3);
    }
}

@keyframes aboutUsAnimation3 {
    0%{
        transform: translateX(70%) translateY(-40%) scale(0.3);
    }
    5%{
        transform: translateX(0) translateY(0) scale(1);
    }

    31%{
        transform: translateX(0) translateY(0) scale(1);
    }
    36%{
        transform: translateX(70%) translateY(40%) scale(0.3);
    }

    62%{
        transform: translateX(70%) translateY(40%) scale(0.3);
    }
    67%{
        transform: translateX(70%) translateY(-40%) scale(0.3);
    }

    93%{
        transform: translateX(70%) translateY(-40%) scale(0.3);
    }
    100%{
        transform: translateX(70%) translateY(-40%) scale(0.3);
    }
}