h1 {
    color: #eeeeee;
}

#load-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;

  }

  #loader {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border : 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    z-index: 1001;
  }

  #loader::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border : 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
  }

  #loader::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border : 3px solid transparent;
    border-top-color: #f9c022;

    -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
  }


  @-webkit-keyframes spin {
    0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222;
    z-index: 1000;
  }

  #loader-wrapper .loader-section.section-left {
    left: 0;
  }

  #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222;
    z-index: 1000;
  }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }


    /* Loaded styles*/
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);

        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;

    }


    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);

        -webkit-transition: all 0.3s 0.3s ease-out;
        transition: all 0.3s 0.3s ease-out;
    }

    .loaded #loader {
        opacity: 0;

        -webkit-transition: all 0.3s 0.3s ease-out;
        transition: all 0.3s 0.3s ease-out;
    }

    .loaded #loader-wrapper {
        visibility: hidden;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);

        -webkit-transition: all 0.3s 0.6s ease-out;
        transition: all 0.3s 0.6s ease-out;

    }


    .main-heading{
        font-family: var(--main-heading-font);
        color: var(--main-heading-color);
        text-transform: uppercase;
        text-align: center;
    }



.head-container {
    background-color: black;
}
.home-section-1{
    /* height: 100vh; */
    width: 100%;
    padding: 10vh 5vh;
    /* background-color: var(--theme-color3); */
    background-image: url(../images/home-sky.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.home-section-1-absolute-img-1{
    position: fixed;
    z-index: 0;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: 80vh;
    z-index: 1;
    /* animation: moveInLeft 1s; */
}

.home-section-1-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 0;
    background:linear-gradient(var(--transperent-color) 85%,var(--theme-color1));
}

.home-section-1-container{
    height: 90vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.home-section-1-container > .section-1-inner-1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.home-section-1-container > .section-1-inner-1 > .section-1-content{
    position: relative;
    z-index: 2;
    margin: auto;
    text-align: center;
    /* background-color: rgba(142, 205, 221, 0.8); */
    border-radius: 1rem;
    padding: 4% 0;
    /* animation: moveInRight 1s; */
}

.home-section-1-container > .section-1-inner-1 > .section-1-content > *{
    margin: 2rem 0;
}

.home-section-1-container > .section-1-inner-1 > .section-1-content > .sub-heading{
    margin-bottom: 2px;
}

.home-section-1-container > .section-1-inner-1 > .section-1-content > .main-heading{
    color: var(--theme-color1);
    text-shadow: 0 10px 10px black;
}

.home-section-1-container > .section-1-inner-1 > .section-1-content > .btn-container > .btn{
    background-color: var(--theme-color1);
    color: white;
    margin: 0 1rem;
    font-family: var(--main-heading-font);
}

.home-section-1-aboutus{
    height: 500px;
    width: 50%;
    padding: 5%;
    position: relative;
    z-index: 3;
}

.home-section-1-aboutus > .main-heading{
    text-shadow: 0 10px 10px black;
    margin-bottom: 30px;
}

.home-section-1-aboutus > .aboutus-content{
    font-family: var(--text-font);
    color: white;
    text-align: center;
    font-size: 1.3rem;
}


/* section 2 highlights */

.home-section-2{
    padding: 10vh 5vh;
    background-color: var(--theme-color1);
    position: relative;
}

.home-section-2-absolute-img-1{
    position: absolute;
    width: 100%;
    height: 80%;
    bottom:0;
    left: 0;
    opacity: 0.1;
}

.home-section-2-container {
    width: 100%;
    position: relative;
    z-index: 1;
}

.home-section-2-container > .main-heading{
    color: var(--theme-color3);
    text-shadow: 0 5px 10px rgb(202, 202, 202);
    margin-bottom: 3rem;
}

.highlights-container{
    width: 100%;
    
}

.highlights-container-row{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.highlights-row-inner{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.highlights-item-container{
    width: 45%;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
    background-color: var(--theme-color4);
    position: relative;
}

.highlights-item-container > .highlights-img-container{
    border-radius: 50%;
    border: 2px solid black;
    width: 10vw;
    height: 10vw;
    margin: auto;
    display: flex;
    align-items: center;
}

.highlights-item-container > .highlights-img-container > img{
    margin: auto;
    width: 50%;
}

.highlights-item-container > .highlights-heading{
    color: var(--theme-color1);
    font-family: var(--sub-heading-font);
    font-weight: 600;
    margin: 1rem 0;
}

.highlights-item-container > .highlights-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background-color: rgb(18, 18, 118);
    padding: 7% 5%;
    opacity: 0;
    scale: 0;
    transition: all 0.2s linear;
}

.highlights-item-container > .highlights-overlay > .highlights-heading{
    font-family: var(--sub-heading-font);
    color: var(--theme-color4);
}

.highlights-item-container > .highlights-overlay > p{
    font-family: var(--text-font);
    color: var(--theme-color3);
}

.highlights-item-container:hover .highlights-overlay{
    opacity: 0.8;
    scale: 1;
    z-index: 10;

}



.amenities-item-container > .amenities-overlay:hover{
    opacity: 1;
}

/*******************/
/* Gallery section */
/*******************/

.home-section-3{
    position: relative;
    width: 100%;
    padding: 5vh 5vh;
    background-color: var(--theme-color1);
}

.home-section-3-container{
    width: 100%;
    height: 100%;
    text-align: center;
}

.gallery-main-container{
    width: 100%;
    margin: auto;
}

.gallery-main-container > .gallery-carousel{
    width:80%;
    margin: auto;
}

.gallery-img-container{
    margin: 5px;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.gallery-img-container > img{
    height: 80vh;
}

.gallery-carousel > .slick-prev:before, .gallery-carousel > .slick-next:before {
    border-radius: 0;
    font-size: 2rem;
    opacity: 1;
    color: var(--theme-color3);
}

.gallery-carousel > .slick-dots li button {
    background-color: white;
    border-radius: 50%;
}

.gallery-carousel > .slick-prev{
    left: -30px;
}

.gallery-popup-container{
    width:100%; 
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 4% 8%;
    z-index: 10;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

.gallery-popup-container > .gallery-popup-inner-container , .gallery-popup-container > .gallery-popup-inner-container > .gallery-popup-carousel {
    width: 100%;
    height: 100%;
}

.gallery-popup-carousel > .slick-list, .gallery-popup-carousel .slick-list .slick-track{
    width: 100%;
    height: 100%;
}

.gallery-popup-img-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

 .gallery-popup-img-container > img{
    width: auto;
    height: 85vh;
    margin: auto;
}

.gallery-popup-container > .close-gallery-popup-btn{
    position: absolute;
    color: white;
    font-size: 40px;
    background-color: rgba(0,0,0,0);
    border: 0;
    top:1%;
    right: 8%;
}

/* Amenities section */

.home-section-amenities{
    height: auto;
    width: 100%;
    position: relative;
    padding: 5vh 5vh;
    background-color: var(--theme-color1);
    
}

.popup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.popup-container {
    display: flex;
}

.popup {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    transition: transform 0.2s;
}
.letter {
    color: white;
    text-align: center;
}

.popup img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup:hover {
    transform: scale(1.1);
    z-index: 1;
}

.writing {
    text-align: center;
}


#amenities-section-slider > .slick-prev:before, #amenities-section-slider > .slick-next:before{
    border-radius: 0;
    font-size: 2rem;
    opacity: 1;
    color: var(--theme-color3);
}

#amenities-section-slider > .slick-dots li button {
    background-color: white;
    border-radius: 50%;
    
}

/*******************/
/*section 4 styles*/
/******************/

.home-section-4{
    width:100%;
    position: relative;
    padding: 5vh;
    background-color: var(--theme-color1);
}

.home-section-4-container{
    width: 100%;
}


/*******************/
/*section 4 styles*/
/******************/

.home-section-4{
    width:100%;
    position: relative;
    padding: 5vh;
    background-color: var(--theme-color1);
}

.home-section-4-container{
    width: 100%;
}
/* 
.home-section-4-container > .main-heading{
    color: var(--theme-color1);
} */

.location-main-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.location-main-container > .map-container , .location-main-container > .location-info-container{
    width: 50%;
    padding: 2%;
}

.location-main-container > .map-container > iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid  var(--theme-color3);
}

.location-main-container > .location-info-container > .location-info {
    padding: 5% 0;
}

/* .location-main-container > .location-info-container > .location-info > .sub-heading{
    color: var(--theme-color1);
} */

.location-main-container > .location-info-container > .location-info > p{
    font-family: var(--text-font);
    color: white;
}

.home-section-5{
    padding: 5vh;
    background-color: var(--theme-color1);
    background-image: url(../images/blueprint-bg-3.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.img-container {
    text-align: center;
}

.home-section-5-container{
    width: 100%;
}

/* .home-section-5-container > .main-heading{
    color: var(--theme-color1);
} */

.contactus-main-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
 .contactus-main-container > .contact-column{
    width:15%;
 }

 .contactus-main-container > .contact-column > .sub-heading{
    margin-bottom: 20px;
    text-align: center;
 }

 .contactus-main-container > .contact-column > p{
    font-family: var(--text-font);
    font-size: 1.1rem;
    color: var(--theme-color3);
    text-align: center;
 }

 .contactus-main-container > .contact-column:nth-child(3){
    width:40%;
 }

 .contactus-main-container > .contact-column:nth-child(3) > form{
    width: 100%;
    background-color: var(--theme-color3);
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding:5% 10%;
 }

 .contactus-main-container > .contact-column:nth-child(3) > form > label{
    font-family: var(--sub-heading-font);
    color: var(--theme-color1);
    font-size: 1.2rem;
 }

 .contactus-main-container > .contact-column:nth-child(3) > form > input ,  .contactus-main-container > .contact-column:nth-child(3) > form > textarea{
    border-radius: 5px;
    border: 0;
    padding: 5px;
    transition: all 0.5s ;
 }

 .contactus-main-container > .contact-column:nth-child(3) > form > input:focus ,  .contactus-main-container > .contact-column:nth-child(3) > form > textarea:focus{
    outline: 0;
    box-shadow: 0 0 5px white;
 }


 .contactus-main-container > .contact-column:nth-child(3) > form > button{
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
 }

/* mobile media quaries */

@media screen  and (max-width: 900px) {
    .home-section-1-container > .section-1-inner-1{
        width: 100%;
    }

    .home-section-1-container > .section-1-inner-1 > .section-1-content{
        margin: auto;
    }

    .home-section-1-absolute-img-1{
        width: 100%;
        height: 80%;
        opacity: 0.7;
    }

    .home-section-2{
        padding: 5vh 2vh;
    }

    .highlights-container-row{
        flex-direction: column;
    }

    .highlights-row-inner{
        width: 100%;
    }

    .highlights-item-container > .highlights-img-container{
        width: 20vw;
        height: 20vw;
    }

    .highlights-container-row > .highlights-row-inner:first-child{
        margin-bottom: 10px;
    }

    .home-section-3{
        padding: 6vh;
    }

    .gallery-img-container > img{
        height: 25vh;
        margin: auto;
    }

    .location-main-container{
        flex-direction: column;
    }
    
    .location-main-container > .map-container, .location-main-container > .location-info-container {
        width: 100%;
        padding: 1%;
    }
    .contactus-main-container{
        flex-direction: column;
    }
    .contactus-main-container > .contact-column{
        width: 100%;
        margin-bottom: 10px;
    }
    .contactus-main-container > .contact-column:nth-child(3){
        width: 100%;
    }
    .home-section-1-aboutus {
    height: 500px;
    width: 100%;
    padding: 5%;
    position: relative;
    z-index: 3;
    }

    .popup-container > .popup-carousel {
        width: 80%;
        margin: auto;
    }

}